page-show-main {
    .ion-card {
        margin:0 !important;
    }

    .show-main-content {
        height: 80vh;
    }

    .body-content {
        height: 70vh;
    }

    .timer-content {
        height: 10vh;
    }
}